<p *ngIf = "!(AuthService.getUser()| async)">Your are not logged in</p>
<br>
<div>
  <div>
    <button (click) = "addBookFormOpen = !addBookFormOpen" mat-raised-button color = "primary">Add Book</button>
  </div>
  <br>
  <div>
    <bookform *ngIf = "addBookFormOpen" 
            (update) = "add($event)" 
            (closeEdit) = "addBookFormOpen = !addBookFormOpen"
            [formType] = "'Add book'">
    </bookform>
  </div>

  <mat-accordion *ngIf = "(AuthService.getUser()| async)">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let book of books; let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{book.title}}
        </mat-panel-title>
        <mat-panel-description>
          {{book.author}}
          <span class="spacer"></span>
          <button mat-raised-button color = "warn" (click) = "deleteBook(book.id)">Delete</button>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>{{book.summary}}</p>
      
      <button (click) = "editstate[i] = !editstate[i]" mat-raised-button color = "primary">Edit</button>
      
      <bookform 
      [formType] = "'Update Book'"
      [hidden] = "!editstate[i]" 
      [title] = "book.title" 
      [author] = book.author 
      [id] = book.id
      (update) = "updateBook($event); editstate[i] = !editstate[i]"
      (closeEdit) = "editstate[i] = !editstate[i]">
      </bookform>

    </mat-expansion-panel>
  </mat-accordion>
  <br>
  <div>
  <button (click) = "prevPage()" mat-raised-button color = "primary">Prev page</button>
  <button (click) = "nextPage()" mat-raised-button color = "primary">Next page</button>  
  </div>
  <mat-paginator [pageSizeOptions] = "[3,6,9]" showFirstLastButton></mat-paginator>

</div>


  