<mat-card>
    <h1>Register</h1>
    <form #registerForm = "ngForm" (ngSubmit) = "onSubmit()" >
        <div>
            <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder = "example: you@you.com" [(ngModel)] = email name = email required>
                    <mat-error *ngIf="registerForm.hasError">Please enter your email</mat-error>
                </mat-form-field> 
        </div>
        <div>
            <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput [(ngModel)] = password name = password required>
                    <mat-error *ngIf="registerForm.hasError">Please choose a password</mat-error>
                    <mat-hint>8 chatacter or more</mat-hint>                    
            </mat-form-field> 
        </div>
        <br>
        <div>
            <button [disabled] = "!registerForm.form.valid" type = "submit" mat-raised-button color="primary" >Register</button>
        </div>
        <div>
            <p *ngIf = "isError"> {{errorMessage}}</p>
        </div>
    </form>
</mat-card>